<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Data stats</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/404.css">

</head>

<body>
<h1>Where are you heading to, Alice? You are supposed to do the quest...</h1>
</body>

</html>