<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/3ab54522ca.js" crossorigin="anonymous"></script>

  <title>Data stats</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<h1>Where are you heading to, Alice? You are supposed to do the quest...</h1>
</body>

</html>