<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Absolem</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/partials/prompt.css">
  <link rel="stylesheet" href="/css/absolem.css">

  <style>
  </style>

</head>

<body>
  <%- include('../public/partials/prompt.ejs') %>
    <div class="main">
      <h1 class="title"></h1>
      <h2 class="subtitle"></h2>
      <div class="clue">Next clue</div>
    </div>

    <script src="/components/args.js"></script>
    <script src="/components/prompt.js"></script>
    <script>
      window.onload = () => {
        let urlParams = new URLSearchParams(window.location.search);

        let item = urlParams.get("item");
        let allowed = "<%= allowed %>";

        function replaceSpace(word) {
          return word ? word.replace(/\s/g, "") : null;
        }

        if (replaceSpace(item) && replaceSpace(item) !== "") {
          if (replaceSpace(allowed) && replaceSpace(allowed) !== "") {
            if (replaceSpace(allowed) == "success") {
              _(".main .title").innerText = "Hello, Alice.";
              _(".main .subtitle").innerHTML =
                "Thank you so much for getting me a " +
                item +
                "<br><br>Now you can search for the other object, but be careful with each of them! Because no one knows anything completely about Wonderland.";
              _(".clue").style.display = "block";
            } else if (replaceSpace(allowed) == "zonk") {
              _(".main .title").innerText = "No, Alice.";
              _(".main .subtitle").innerHTML =
                "You are being ill because of the wrong thing you have found.<br><br>You are such a foolish! Have not I told you to be careful of choosing those items?";
            } else if (replaceSpace(allowed) == "notfound") {
              cardPrompt(
                [".prompt", ".title", ".input"],
                "Please use the username that you have used before!",
                true,
              );
            } else if (replaceSpace(allowed) == "prank") {
              _(".main .title").innerText = "Hmmm something went wrong, Alice.";
              _(".main .subtitle").innerHTML =
                "You have found an unknown item? Make sure to search for the real one!";
            } else if (replaceSpace(allowed) == "false") {
              _(".main .title").innerText = "Hello, Alice.";
              _(".main .subtitle").innerHTML =
                "You have already found the item. Search for the other items to meet the Absolem!";
            }
          } else {
            cardPrompt([".prompt", ".title", ".input"], null, true);
            //link?items=cock&username=wakwaw
          }
        } else {
          _(".main .title").innerHTML = "Hi, Alice.";
          _(".main .subtitle").innerHTML =
            "You have been lost! Do not you try to search for some items? ";
        }

        /*
          1. user masuk
          2. masukin username
          3. href ke link pengecekan kasih username
          dicek: kasih ke link lagi: allowed: true = dapet equipment
          allowed: false = udh pernah dapet

          allowed: null = datanya belom ada

          allowed: prank = not the correct item

          4. jika ada parameter allowed, statement.
          jika true: => success or failed (itemnya zonk atau beneran).
          notif congrats.

          jika false:
          notif already.

          jika null:
          input again.

          jika prank:
          notif wrong item
          */

        _("#input").addEventListener("keypress", function (e) {
          let href = location.href;

          let username = urlParams.get("username");

          if (username) href = href.replace("&username=" + username, "");

          if (e.key === "Enter") {
            location.href = href + "&username=" + e.target.value;
          }
        });

        _(".clue").addEventListener("click", function (e) {
          let username = urlParams.get("username");

          location.href = "https://0137b1cf-c204-4849-bf00-14452970fc6f-00-3rex8pf0sl8of.sisko.replit.dev:8080/playlistabsolemganteng?user=" + username;
        });
      };
    </script>
</body>

</html>