<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hare is here</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/partials/prompt.css">
</head>

<body>
  <%- include('../public/partials/prompt.ejs') %>
  <h1 class="text-0">
    <span class="changed"></span>
    <span class="bar">&nbsp;|</span>
  </h1>
  <h1 class="text-1">
    <span class="changed"></span>
    <span class="bar">&nbsp;|</span>
  </h1>
  <div class="main">
    <div class="hi">
      <h1>Hi, Alice.</h1>

      <p class="guide">
        <span class="changed"></span>
        <span class="bar">&nbsp;|</span>
      </p>
    </div>

    <div class="form real">
      <form id="submission" action="/submit" method="post">
        <input class="password fake-1" placeholder="Yes, fill me, sweetheart" type="text" id="password">
        <input class="password fake-2" placeholder="Am? You're welcomed" type="text" id="password">
        <input class="password fake-3" placeholder="Please save my wife and kids" type="text" id="password">
        <input class="password fake-4" placeholder="Welcome back, dear Alice" type="text" id="password">
        <input class="password fake-5" placeholder="Do you want to be my wife, Alice?" id="password" type="text" id="password">
        
        <input name="password" class="password real" placeholder="This one probably..." type="text" id="password password-real">
        <input type="text" class="username" name="username" id="username">
        <button class="send" id="send">Send?</button>
     </form>

    </div>
    
  </div>
  <!-- Project -->
  <script src="/components/args.js"></script>
  <script src="/components/timeout.js"></script>
  <script src="/components/hideAndSeek.js"></script>
  <script src="/components/prompt.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>