<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/3ab54522ca.js" crossorigin="anonymous"></script>

  <title>Hare is here</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- HTML -->
  <!-- Custom Styles -->
</head>

<body>

  <div class="ask-input"> 
    <div class="content">
    <div class="your-name"></div>
    <input type="text" class="username-input" placeholder="Your username" id="nameinput">
    </div>
  </div>
  
  <h1 class="text-0">
    <span class="changed"></span>
    <span class="bar">&nbsp;|</span>
  </h1>
  <h1 class="text-1">
    <span class="changed"></span>
    <span class="bar">&nbsp;|</span>
  </h1>
  <div class="main">
    <div class="hi">
      <h1>Hi, Alice.</h1>

      <p class="guide">
        <span class="changed"></span>
        <span class="bar">&nbsp;|</span>
      </p>
    </div>

    <!--

    1. USER GET INTO THE WEB
    2. TROLLED BY RANDOM CASE 2 RANDOM CASE THEN REAL 
     
    -->
    <div class="form real">
      <form id="submission" action="/submit" method="post">
        <input class="password fake-1" placeholder="Yes, fill me, sweetheart" id="password" type="password">
        <input class="password fake-2" placeholder="Am? You're welcomed" id="password" type="password">
        <input class="password fake-3" placeholder="Please save my wife and kids" id="password" type="password">
        <input class="password fake-4" placeholder="Welcome back, dear Alice" id="password" type="password">
        <input class="password fake-5" placeholder="Do you want to be my wife, Alice?" id="password" type="password">
        
        <input name="password" class="password real" placeholder="This one probably..." type="password" id="password password-real">
        <button class="eye" id="eye" onclick="show_password_text()"><i class="fas fa-eye"></i></button>
        <input type="text" class="username" name="username" id="username">
        <button class="send" onclick="send_password_text()">Send?</button>
     </form>

    </div>
    
  </div>
  <!-- Project -->
  <script src="/js/index.js"></script>
</body>

</html>