@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;
  color: #EDEDED;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  text-align:center;
}

.animate {
  transition: .5s ease-out;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
}

h3 {
  font-size: 1.2rem;
}

.main {
  background-color: rgba(62, 62, 62, 0.27);
  box-shadow: 0 0 5px rgb(255, 255, 255, .1);
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  transition: 1s;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  flex-flow: column wrap;
  align-items: center;
  gap: 2.5rem;
  width: 75%;
  text-align: center;
}

.main:hover {
  box-shadow: 0 25px 50px -12px rgb(255, 255, 255, .1);
}

@keyframes fadeUp {
  from {
    opacity: 0;
  }
}