.main {
  display: none;
}

.main .password {
  margin-top: 2rem;
}

body.activated .main {
  display: block;
  animation: fadeUp 1s ease-in;
}

.hi {
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.password {
  outline: none;
  width: 85%;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  border: none;
  background-color: #5555555C;
  color: #E9E9E9;
  box-shadow: 0 0 5px rgb(255, 255, 255, .1);
}

.form .eye {
  padding: 10px;
  background: transparent;
  outline: none;
  border: none;
  color: white;
}

.form .eye:hover {
  opacity: 50%;
  transition: 0.5s;
}

.form {
  width: 100%;
  padding: 15px;
  text-align: center;
}

.password {
  display: none;
  animation: fade 1s ease-out;
}

.text-0,
.text-1 {
  position: absolute;
  break-word: word-break;
  font-size: 30px;
  font-style: italic;
}

.text-0 {
  transform: rotate(-10deg);
  top: 100px;
  left: 10px;
}

.text-1 {
  transform: rotate(5deg);
  right: 50px;
  bottom: 100px;
  text-align: right;
}

.send {
  width: 50%;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 5px 30px 5px 30px;
  margin: 15px;
  display: none;
  box-shadow: 0 0 5px rgb(255, 255, 255, .1);
  background-color: rgba(81, 81, 81, 0.58);
  color: white;
  transition: .5s ease-out;
  transform: translate(-50%);
  margin-left: 50%;
  animation: fade 1s ease-out;
}

.send:hover {
  box-shadow: 0 0 15px rgb(255, 255, 255, .1);
  border-radius: 30px 5px 30px 5px;
}

.bar {
  visibility: hidden;
}

.changed {
  word-break: break-word;
}

.guide {
  margin-top: 20px;
}

.hi {
  margin-top: 55px;
}

body.fake-1 {
  background-color: #6814fa;
  color: #e1dce8;
}

body.fake-1 .fake-1 {
  transition: .5s ease;
  opacity: 0%;
}

body.fake-2 {
  background-color: #530049;
  color: black;
}

body.fake-3 .main {
  transform: skew(50deg) rotateY(180deg);
  transition: 0.8s ease;
}

body.fake-3 {
  background-color: #0db51b;
  color: #f0ec89;
}

body.fake-4 {
  background-color: #e31414;
  color: #38046b;
}

body.fake-4 .main {
  transform: scale(.25);
  transition: .75s ease;
}

body.fake-5 {
  font-size: 25px;
  background-color: #f72fe3;
  color: #eee;
}

.username,
.submission {
  display: none;
}